<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <title>Tilføj Ønskeseddel</title>
    <link rel="stylesheet" th:href="@{/addWishList.css}">
</head>
<body>
<h1>Tilføj Ønskeliste</h1>

<form action="#" th:action="@{/wishlist/save}" th:object="${wishlist}" method="post">
        <div>
            <label for="name">Navn:</label>
            <input type="text" id="name" th:field="*{name}" required>
        </div>
        <div>
            <label for="description">Beskrivelse:</label>
            <input type="text" id="description" th:field="*{description}" required>
        </div>

    <div class="button-group">
        <button type="submit">Gem</button>
        <a th:href="@{/wishlist}" class="button">Annuller</a>
    </div>
</form>

</body>
</html>