<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <title>Ønskesedelen.dk</title>
    <link rel="stylesheet" href="/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

</head>
<body>

<div class="header">
    <h1>Ønskesedelen.dk </h1>

    <div class="button-container">
    <button class="login-button">Log in</button>
    <button class="opret-button">Opret bruger</button>
    </div>
</div>

<div class="paragraph">
<p>Her på Ønskesedelen.dk kan du sammensætte din helt egen ønskeseddel til næste fødselsdag, jul eller eid.</p>
<button class="ønskeseddel">Opret en ønskeseddel</button>
</div>


<footer class="footer">
    Kontakt os på 20708055 eller Ønskesedelen@info.dk
                            <br>
    &copy; 2025 Ønskesedelen.dk | Alle rettigheder forbeholdes
</footer>
</body>
</html>