<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login session</title>
    <link rel="stylesheet" th:href="@{/login.css}">
</head>
<body>
<h1>Login</h1>
<form action="/wishes/login" method="post">
    <p th:if="${wrongCredentials}" class="error">Forkert brugerid eller password</p>
    <p class="textbox">
        <label>Username:</label>
        <input name="uid" type="text" autofocus>
    </p>
    <p>
        <label>Password:</label>
        <input name="pw" type="password">
    </p>
    <p>
        <a th:href="@{'/wishes/register'}"><button type="button">Register</button></a>
        <button type="submit">Login</button>
        <a th:href="@{'/'}"><button type="button">Fortryd</button></a>
    </p>
</form>
</body>
</html>
