<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WishyourList</title>
</head>
<body>
<h1 class="header1">Dine ønskelister: </h1>
<table class="table">
    <tr>
        <th class="th">Navn</th>
        <th class="th">Beskrivelse</th>
        <th class="th">Handlinger</th>
    </tr>
    <tr th:each="wishlist : ${wishes}">
        <td class="td" th:text="${wishlist.name}"></td>
        <td class="td" th:text="${wishlist.description}"></td>
        <td>
            <a class="links-button" th:href="@{'/wishes/' + ${wishlist.name} + '/edit'}">Rediger</a>
            <form th:action="@{'/wishes/' + ${wishlist.name} + '/delete'}" method="post" style="display: inline">
                <button class="links-buttondelete" type="submit">
                    Slet
                </button>
            </form>
        </td>
    </tr>
</table>
<a href="/wishes">Se alle dine ønsker</a>
<a href="/wishes/login">Login</a>
</body>
</html>
