<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>WishyourList</title>
    <link rel="stylesheet" th:href="@{/wishList.css}">
</head>
<body>
<h1 class="header1">Dine ønskelister: </h1>
<div class="flex-center">
<a class="add-wish" href="/wishlist/add">Tilføj Ønskeliste</a>
</div>
<table class="table">
    <tr>
        <th class="th">Ønskeliste</th>
        <th class="th">Beskrivelse</th>
        <th class="th">Handlinger</th>
    </tr>
    <tr th:each="wishlistitem : ${wishlist}">
        <td class="td name" th:text="${wishlistitem.name}"></td>
        <td class="td description" th:text="${wishlistitem.description}"></td>
        <td>
            <a class="links-button" th:href="@{'/wishlist/' + ${wishlistitem.name} + '/' + ${wishlistitem.id}}">Vælg</a>
            <a class="links-button" th:href="@{'/wishlist/' + ${wishlistitem.name} + '/' + ${wishlistitem.id} + '/edit'}">Rediger</a>
            <form th:action="@{'/wishlist/' + ${wishlistitem.name} + '/' + ${wishlistitem.id} + '/delete'}" method="post" style="display: inline">
                <button class="links-buttondelete" type="submit">Slet</button>
            </form>
        </td>
    </tr>
</table>
<div style="text-align: center; margin-top: 20px;">
    <a href="/wishlist/register">Opret bruger</a> |
    <a href="/wishlist/login">Login</a> |
    <a href="/wishlist/logout">Log ud</a> |
    <a href="/">Forside</a>
</div>
</body>
</html>